<!DOCTYPE HTML>
<html>

<head>
	
	<meta charset="utf-8">
	
	<title><%= title %></title>
	
	<!-- meta -->
	<meta name="author" content="Burak Targaç">
	<meta name="description" content="Frontend Developer">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
	
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/media.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery-loading/component.css" />
	
	<!-- load modernizer -->
	<script type="text/javascript" src="javascripts/modernizr/modernizr-2.7.1.js"></script>
	
	<!-- google fonts -->
	<link href='//fonts.googleapis.com/css?family=Raleway:400,800,500,300,700|Open+Sans:400,700|Ubuntu:400,700' rel='stylesheet' type='text/css'>
	
	<!-- google api -->
	<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyARbkzhKVMbmP3JaEptAZY-yxXwsN7YtU4Y" type="text/javascript"></script>

</head>

<body>

	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<div id="wrapper">
		
		<!-- header -->
		<header id="header">
			
			<div class="wrap">
				<div class="main">
					
					<h1 id="mobile">TARGAÇ</h1>
					
					<!-- navigation -->
					<ul id="navigation">
						<li><a href="#carousel" class="anchor active">Home<span class="border"></span></a></li>
						<li><a href="#portfolio" class="anchor">Portfolio<span class="border"></span></a></li>
						<li><a href="#about" class="anchor">About<span class="border"></span></a></li>
						<li class="center"><a id="logo" href="/"><h1>TARGAÇ</h1><span class="label rotate"></span></a></li> <!-- logo -->
						<li><a href="#services" class="anchor">Services<span class="border"></span></a></li>
						<li><a href="#contacts" class="anchor">Contact Me<span class="border"></span></a></li>
						<li class="parent">
							<a href="#">Download<span class="arrow">&nbsp;&nbsp;»</span><span class="border"></span></a>
							<ul>
								<li><a href="https://dl.dropboxusercontent.com/u/69237251/Burak%20Targa%C3%A7.pdf" target="_blank">Resume (PDF)</a></li>
								<!-- <li>
									<a href="#">Element 2<span class="arrow">&nbsp;&nbsp;»</span></a>
									<ul>
										<li><a href="#">Element 1</a></li>
										<li><a href="#">Element 2</a></li>
										<li><a href="#">Element 3</a></li>
									</ul>
								</li> -->
							</ul>
						</li>
					</ul>
					
					<!-- mobile navigation -->
					<div id="nav-mobile"></div>
				</div>
			</div>
			
			<div class="after"></div>
			
		</header>

		<!-- carousel -->
		<section id="carousel">

			<span class="pattern"></span>
			
			<div class="main-text">Welcome to my page</div>
			<div class="sub-text">
				<ul class="slide-text">
					<li>I’m a front-end developer with a passion for the web.</li>
					<li>Currently living & loving in Istanbul, Turkey.</li>
				</ul>
			</div>
		
			<div id="wrapper-slider">
				<div id="controls">
					<div class="prev"></div>
					<div class="next"></div>
				</div>
			</div>
			
			<a href="index.html#portfolio" class="scroll-btn anchor"></a>	
			
		</section>
		
		<div id="portfolio-box">
			<div class="spinner"></div>
			<div class="inner"></div>
		</div>
		
		<section id="portfolio">
			<div class="inner">
				<ul id="rb-grid" class="list rb-grid clearfix">
					
					<% portfolios.forEach(function(portfolio,index){ %>
					<li class="<%= ( index < 4 ) ? '' : 'hidden' %>">
						<a class="item" href="<%= portfolio.detailPageUrl %>">
							<img src="<%= portfolio.detailPageImages[0] %>" alt="">
							<div class="over">
								<h2 class="page-title"><%= portfolio.company %><span class="border"></span></h2>
								<h3 class="page-subtitle">
									<%-: portfolio.definition | replace:'<new line>','<br><br>' | truncate_words:18 | append:'...' %>
								</h3>
							</div>
						</a>
					</li>

					<% }); %>
					
				
				</ul>
				
				<a href="#" class="more rotate"><span class="rotate">+</span></a>
			</div>
		</section>
		
		<section id="about">
			
			<div class="gray">
				
				<div class="wrap">
					
					<h2 class="page-title">About me<span class="border"></span></h2>
					<h3 class="page-subtitle">I bring your product to the next level.<br>I use the new generation tools that increase my productivity, and the project's sustainability with the best practices of code.</h3>
					
					<div class="screens">
						<div class="left"><img src="img/about/left.png" alt=""></div>
						<div class="right"><img src="img/about/right.png" alt=""></div>
						<div class="center"><img src="img/about/center.png" alt=""></div>
					</div>
				</div>
			</div>
			
			<div class="references">
				<div class="wrap">
					
					<h2 class="page-title">My skills<span class="border"></span></h2>
					<h3 class="page-subtitle white">I am focused on<br>Front-end Development / NodeJS Development / Restful Web Apps.</h3>
					
					<div class="charts">
						
						<span class="chart" data-percent="96" data-color="#ef6661">
							<span class="percent"></span>
						</span>
						
						<span class="chart" data-percent="80" data-color="#ef6661">
							<span class="percent"></span>
						</span>
						
						<span class="chart" data-percent="76" data-color="#ef6661">
							<span class="percent"></span>
						</span>
						
					</div>

					<p class="page-subtitle white">Actually these charts are nothing more than a bullshit, you can find these types of graphs on many portoflio sites, so i just wanted to have these on my page too, but it's not really related about my actual skills.</p>
					
				</div>
				<span class="pattern"></span>
			</div>
			
			<div id="team">
				<div class="wrap">
					
					<h2 class="page-title">Who inspire me?<span class="border"></span></h2>
					<h3 class="page-subtitle">Their innovative minds make some of our ideas possible</h3>
					
					<ul class="members">
						
						<li>
							<div class="member">
								<div class="image">
									<img src="img/team/member-1.jpg" alt="">
								</div>
								<div class="info">
									<h4>Brendan Eich</h4>
									<p>
										Brendan Eich invented JavaScript, co-founded http://mozilla.org , and served as CEO, Mozilla.
									</p>
									<ol class="social">
										<li><a target="_blank" href="https://twitter.com/BrendanEich"><i class="fa fa-twitter"></i></a></li>
									</ol>
								</div>
							</div>
						</li>
						
						<li>
							<div class="member">
								<div class="image">
									<img src="img/team/member-2.jpg" alt="">
								</div>
								<div class="info">
									<h4>Ben Alman</h4>
									<p>
										He's a senior developer at @bocoup, creator of @gruntjs, and frequent contributor to @jquery. I also coined the term IIFE and play a mean funk bass.
									</p>
									<ol class="social">
										<li><a target="_blank" href="https://twitter.com/cowboy"><i class="fa fa-twitter"></i></a></li>
									</ol>
								</div>
							</div>
						</li>
						
						<li>
							<div class="member">
								<div class="image">
									<img src="img/team/member-3.jpg" alt="">
								</div>
								<div class="info">
									<h4>Addy Osmani</h4>
									<p>
										Engineer at Google • Author • Polymer, Yeoman, Chrome • Creator of TodoMVC & others • Passionate about web tooling
									</p>
									<ol class="social">
										<li><a target="_blank" href="https://twitter.com/addyosmani"><i class="fa fa-twitter"></i></a></li>
									</ol>
								</div>
							</div>
						</li>
						
						<li>
							<div class="member">
								<div class="image">
									<img src="img/team/member-4.jpg" alt="">
								</div>
								<div class="info">
									<h4>Hakim El Hattab</h4>
									<p>
										Swedish JavaScript coder and CSS tweaker • Co-founder of @SlidesApp
									</p>
									<ol class="social">
										<li><a target="_blank" href="https://twitter.com/hakimel"><i class="fa fa-twitter"></i></a></li>
									</ol>
								</div>
							</div>
						</li>
						
					</ul>
					
				</div>
				
			</div>
			
		</section>
		
		<section id="services">
			<div class="gray">
				<div class="wrap">
					
					<h2 class="page-title">What I do?<span class="border"></span></h2>
					<h3 class="page-subtitle">#Design #HTML #CSS #Javascript #jQuery #Node.js #Express.js #mongoDB #Grunt.js #Require.js #HTML5 #CSS3 #SASS #LESS #COMPASS #STYLUS #Canvas-Graph works #Bootstrap #MVC & #MVVM based projects #AMD based JS optimizations #Grunt.js #gzip compression #CSS & JS minification for faster experiences</h3>
					
					<div id="core">
						
						<ul class="core-values">
							<li>
								<div class="core rotate"></div>
								<i class="fa fa-html5"></i>
								<h4>Html 5 &amp; Css 3 & Modernizr Combination</h4>
								<p>I always try to use the newest technologies, besides that I also have to think of the fallbacks for the old browsers which doesn't support a feature, I mean pollyfills such as css pie and many more. Especially the old versions of IE, and some inconsistencies between other browsers really need them. Modernizr is a good solution to see if your target browser supports a feature or not.</p>
							</li>
							<li>
								<div class="core rotate"></div>
									<i class="fa fa-laptop"></i>
								<h4>Responsive design & Mobile-first principles</h4>
								<p>Nowadays the web pages or apps look the same on different devices right? So my pages should also give the same usage experience with an independent concept of device or resolution. So the stylesheets should be independent of device types but resolution spesific with some mediaqueries, that I add to my styleshhets to meet the needs of your page.</p>
							</li>
							<li>
								<div class="core rotate"></div>
								<i class="fa fa-unlock-alt"></i>
								<h4>Standards-compliant, semantic HTML5</h4>
								<p>The web become a place that not only humans read and understand a page but also some crawlers and bots read and understand what the page or content is about. So the tags or contents should be well organised not to suprise the machines. We are going to build a world where all the machines will have access to internet , I mean M2M technologies. So we should prepare the web for them.</p>
							</li>
							<li>
								<div class="core rotate"></div>
								<i class="fa fa-cloud-download"></i>
								<h4>Preprocessing with Sass & Compass, Less or Stylus and versioning</h4>
								<p>As a front-end developer I should generate my css files faster and more robust. So thats a goodway to use a preprocessor that makes us able to write with the concept of DRY(Don't repeat yourself). And keeping the changes in a repository will make the team much more productive while merging the codes after developing different parts of the project. Thats what I'm used to.</p>
							</li>
							<li>
								<div class="core rotate"></div>
								<i class="fa fa-heart"></i>
								<h4>Grids, layout, typography, & color theory & Source maps</h4>
								<p>I like to use bootstrap grid system on my projects, because it gives me a very good flexibility and responsive layouts that act different on different resolutions. "Flat design", "Long Shadow" and many more design trends can be seen on various projects, but the important thing is to beware of what is new and trending. Also having a source map file for the processed JS or CSS helps a lot to develop faster.</p>
							</li>
							<li>
								<div class="core rotate"></div>
								<i class="fa fa-search-plus"></i>
								<h4>Understanding of usability testing</h4>
								<p>Nowadays the web pages consist of many modules that interact with each other, and can act different which may cause an inconsistency for the user experience if a new feature is wrongly added or implemented. So the project should be TDD (test driven developed) to handle these possibilities before the users experience it. Karma, mocha and Qunit tests are some of these test frameworks that i used before.</p>
							</li>
						</ul>
						
					</div>
				</div>
			</div>
			
			<div class="wrap">
				<div class="touch">
					<h2>Are you ready to start a conversation?</h2>
					<a class="btn anchor" href="index.html#contacts">Get in touch</a>
				</div>
			</div>
			
			<div class="testimonial">
				<div class="wrap">
					
					<i class="fa fa-quote-left"></i>
					<h2 class="page-title">What do people say about me?<span class="border"></span></h2>
					
					<div class="owl">
						<% testimonials.forEach(function(testimonial){ %>
						<div>
							<strong>
								<%= testimonial.text %>
							</strong>
							<em>`<%= testimonial.author %>`</em>
						</div>
						<% }); %>
					</div>
				</div>
				<span class="pattern"></span>
			</div>
			
		</section>
		
		<!-- contacts -->
		<section id="contacts">
			<div class="contacts-mobile-over"></div>
			<ul class="navigation">
				<li><a href="#" id="zoomin"></a></li>
				<li><a href="#" id="zoomout"></a></li>
			</ul>
			<div id="map">Map comes here</div>
			<div class="get-in-touch">
				<h2 class="title-contact-mobile page-title">Get in touch</h2>
				<form action="/submitform" method="post" name="contacts">
					<input type="text" name="name" value="" placeholder="Name *" spellcheck="false">
					<input type="text" name="email" value="" placeholder="Email *" spellcheck="false">
					<input type="text" name="company" value="" placeholder="Company" spellcheck="false">
					<textarea name="message" placeholder="Message *" spellcheck="false"></textarea>
					<div class="col" id="captchaContainer">
						<!-- google reCAPTCHA will be loaded here from the router by the middleware-->
						<%- captcha %>
					</div>
					<div class="col right"><button type="submit">Send</button></div>
				</form>
			</div>
			<div class="text">
				<h2 class="page-title">Where am I?<span class="border"></span></h2>
				<p class="page-subtitle">If it's a big or an urgent job, we may need to talk somewhere around.</p>
			</div>
		</section>
		
		<!-- footer -->
		<footer id="footer">
			<div class="wrap">
				
				<a href="/"><strong>TARGAÇ</strong></a>
				
				<div class="col">
					<ul class="social">
						<li><a href="<%= fblink %>" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="<%= gplink %>" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="<%= twlink %>" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="<%= lilink %>" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="<%= ytlink %>" target="_blank"><i class="fa fa-youtube"></i></a></li>
					</ul>
				</div>

				<div class="technologies">
					I used <a href="//nodejs.org/" target="_blank">Node.js</a>, <a href="//expressjs.com/" target="_blank">Express.js</a>, <a href="//embeddedjs.com/" target="_blank">EJS</a> Template Engine, <a href="//learnboost.github.io/stylus/" target="_blank">Stylus</a> CSS Engine, <a href="//sendgrid.com" target="_blank">SendGrid</a> and <a href="//www.mongodb.org/" target="_blank">MongoDB</a> to get this page work and make it extendible.
				</div>
				
			</div>
			<a href="#" id="go-top" style="opacity: 0;"></a>
		</footer>
		
	</div>

	<!-- js -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script type="text/javascript" src="javascripts/owl-carousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery-easypie-chart/jquery.easypiechart.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery-mb-gallery/mb.bgndgallery.js"></script>
	<script type="text/javascript" src="javascripts/tween-max/tweenmax.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery-animate-numbers/jquery.animate-numbers.js"></script>
	<script type="text/javascript" src="javascripts/smoothscroll/smoothscroll.js"></script>
	<script type="text/javascript" src="javascripts/infobox/infobox.js"></script>
	<script type="text/javascript" src="javascripts/main.js"></script>
	<script>App.start();</script>

</body>
</html>